// Define a mixin for reusable styles
@mixin link-styles {
  color: #8C1515; // Dark red color
}

// Apply mixin to all <a> tags
a {
  @include link-styles;
  &:visited {
    color: #8C1515;
  }
}

// Apply the same styles to elements with class .btn, this controls the text color in the button
.btn {
  @include link-styles;

  &:hover {
    color: #ffffff;
  }
}

// Apply the same styles to elements with class .btn-outline-primary
.btn-outline-primary {
  @include link-styles;
  border-color: #8C1515;
  //border-color: #dd2c00;
}

// Do not display the share box
.share-box {
  display: none;
}

a.summary-link {
  color: #000000;
}

a.article-title {
  color: #000000;
}