.container {
  display: flex;
  justify-content: space-between;
  align-items: center; // Ensures vertical alignment if needed

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }
}